html, body
{
	margin: 0;
	padding: 0;
	font-family: 'Sans-Serif';
	font-size: 14px;
	height: 100%;
	z-index: -1;
}

body{
	background-color: #efefef;
//	background: url("/background.png");
}

.wrapper{
	width: 90%;	
	position: relative;
	margin: 0 auto;
}

.header{
	background-color: white;
	height: 6%;
	line-height: 50px;
	margin-bottom: 20px;
}

.header #controls{
	float:right;
}

// for facebook connect login button
#controls p, #controls a{
	display: inline; 
}


.content{
//	background: #eeeeee;
	background: white;
	opacity: 0.9;
//	border: 1px solid black;
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 78%;
	color: black;
	padding: 10px;
}

.left{
	height: 100%;
	width: 58%;
	float: left;
}

.right{
	width: 40%;
	float:right;
	height: 100%;
}

.music-list{
	margin: 0px;
	height: 100%;
}

.Lastfm{
//	background-color: #e1e1e1;
	height: 50%;
	padding: 10px;
	margin-bottom: 2px;
}
.Lastfm span, .Lastfm img {
	text-align:center;
	vertical-align:middle;
}

.info{
	margin-top: 10px;
	padding: 5px;
}

.friends{

}

.footer{
	border-top: 6px solid transparent;
	margin-top: 10px;
	height:6%;
	width:100%;
	z-index:1;
	line-height: 50px;
	color: black;
}

.footnote{
	background: white;
	opacity: 0.9;
//	border: 1px solid black;
}

.footer ul, .footer li{
	list-style:none;
}

.footer li{
	display: inline;
	margin-right: 40px;
}

.footer a{
	text-decoration: underline !important;
}

a, a:hover, a:visited
{
	text-decoration: none;
	color:#696969;
}

.albumart{
	height: 34px !important;
	width: 34px !important;
}

a.songlink
{
	text-transform: capitalize;
}

.songdiv a, .songdiv img {
	text-align:center;
	vertical-align:middle;
	color: black;
}
.songdiv {
//	background-color:#e1e1e1;
	border-bottom: 1px dotted grey;
	line-height:50px;
	margin-bottom: 2px;
	color: black;
}

.songname{
	text-transform: capitalize;
}


/***** about page *********/
.about p {
	line-height: 30px;
}

.about a {
	text-decoration: underline;
}

/***** yahoo media player *********/
/* Remove block with relevant information */
#ymp-relevance { display:none !important; }
.ymp-player-max #ymp-body { width:570px !important; }
.ymp-player-max #ymp-body #ymp-body-strip { width:557px !important; }
.ymp-player-max #ymp-body #ymp-body-base  { width:560px !important; }


/* Hide 'close window' button */
#ymp-btn-close { display:none !important; }
em.ymp-skin { display:none !important; } 
 
/* Hide 'pop-up window' button */
#ymp-btn-pop { display:none !important; }

h1{font-size:20px;color:#222;margin:0;padding:0;line-height:40px; font-style:oblique; display:inline}


/****** search *************/
#search{
	display:inline;
}

/******** flash message ************/
ul#success-flash-messages{color:green;background-color:#FFC;font-size:larger;font-style:italic;padding:4px;list-style:none;border:2px solid green}
ul#failure-flash-messages{color:red;solid red;font-size:20px;font-style:italic;padding:4px;list-style:none}
ul#failure-flash-messages li,ul#success-flash-messages li{list-style:none}

/*** remove song ***/
.confirmopt{
	color: grey;
}

.confirmremove{
	display: none;
	cursor: pointer;
}


/************ Button ***************/
.button
{
	background:-moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	border-color:#CCCCCC #BBBBBB #A0A0A0;
	border-style:solid;
	border-width:1px;
	color:black !important;
	cursor:pointer;
	font-size:12px;
	margin:0 8px 0 0;
	outline:medium none;
	padding:3px 8px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}
.button:hover
{
	border-color: #A0A0A0;
}

h4{ 
    display: inline;
    font-size: 12px;
    padding-right: 10px;
}

.message{ 
          font-size: 16px;
          font-weight: bold;
}
